.body {
  padding-left: 200px;
  margin-left: 200px;
}

@media (min-width: 768px) {
  .body {
    padding-left: 200px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f1f1f1;
  }
}

@media (max-width: 767px) {
  .body {
    padding-left: 50px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #f1f1f1;
  }
}


.home_header {
  width: 100%;
  height: auto;
}

.image_box_2 {
  float: right;
}  